<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="grid-col-auto">
        <address class="usa-footer__address">
          <div class="usa-footer__contact-info">
            For questions or comments, email the Safer Federal Workforce Task Force at
            <a href="mailto:saferfederalworkforce@gsa.gov">SaferFederalWorkforce@gsa.gov</a>
          </div>
        </address>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row">
        <div class="grid-col-auto">
          <div class="usa-footer__logo-img">
            {% asset gsa-logo.png alt="GSA" %}
          </div>
        </div>
        <div class="grid-col-auto">
          <div class="usa-footer__logo-img">
            {% asset opm-logo.png alt="OPM" %}
          </div>
        </div>
        <!-- <div class="grid-col-auto">
          <p class="usa-footer__logo-heading">Safer Federal Workforce Task Force</p>
        </div> -->
      </div>
    </div>
  </div>
</footer>