<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://gsa.gov">
              {% asset gsa-logo.svg height="75" alt="GSA" %}
            </a>
            <a class="footer-logo media_link" href="https://opm.gov">
              {% asset opm-logo.png height="75" alt="OPM" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col">
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                For questions or comments, email the Safer Federal Workforce Task Force at
                <a href="mailto:saferfederalworkforce@gsa.gov">SaferFederalWorkforce@gsa.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>