<footer class="usa-footer usa-footer--slim">

  <!-- Get vaccinated PSA -->
  <div class="display-flex flex-column padding-bottom-2">
    <div class="flex-align-self-center">
    <iframe src="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-finder-widget.html"  scrolling="no" height="230" 
    frameborder="0" width="280" title="Vaccine Finder Widget" style="overflow: hidden;"></iframe>
    </div>
  </div>

  <!-- contact info -->
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="grid-col-auto">
        <address class="usa-footer__address">
          <div class="usa-footer__contact-info">
            For questions or comments, email the Safer Federal Workforce Task Force at
            <a href="mailto:saferfederalworkforce@gsa.gov">SaferFederalWorkforce@gsa.gov</a>
          </div>
        </address>
      </div>
    </div>
  </div>

  <!-- standard footer and logos -->
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-1">

        <div class="grid-col-auto">
          <div class="usa-footer__logo-img">
            <a href="https://gsa.gov" target="_blank" rel="noopener">
                <img src="{{site.baseurl}}/assets/images/gsa-logo.png" alt="GSA Logo" />
            </a>
          </div>
        </div>

        <div class="grid-col-auto">
          <div class="usa-footer__logo-img">
            <a href="https://opm.gov" target="_blank" rel="noopener">
                <img src="{{site.baseurl}}/assets/images/opm-logo.png" alt="OPM Logo" />
            </a>
          </div>
        </div>

        <div class="grid-col-fill">
          <p class="usa-footer__logo-heading"></p>
        </div>

      </div>
    </div>
  </div>

</footer>