{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">Protecting the Federal Workforce</span>
        and Requiring Mask-Wearing
      </h2>
      <p>Learn about the Safer Federal Workforce Task Force and how federal agencies can implement the Executive Order
        on Protecting the Federal Workforce and Requiring Mask-Wearing.</p>
      <a class="usa-button" href="./safety">Learn more</a>
    </div>
  </div>
</section>