{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">

    <div class="usa-graphic-list__row grid-row grid-gap">

      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="./safety">Health & Safety</a></h3>
          <p>Learn more about the Health and Safety principles.</p>
        </div>
      </div>

      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="./workplace">Workplace Operations</a></h3>
          <p>Learn more about the Workplace Operations principles.</p>
        </div>
      </div>

    </div>

  </div>
</section>