<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading margin-top-0 tablet:margin-bottom-0">Helping to ensure all federal employees,
        contractors, and visitors can safely work together.</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>The <strong>Safer Federal Workforce Task Force</strong> is led by the White House COVID-19 Response Team, the General Services
        Administration (GSA), and the Office of Personnel Management (OPM). Task Force members include: the Centers for
        Disease Control and Prevention (CDC), the Department of Veterans Affairs (VA), the Federal Emergency Management
        Agency (FEMA), the Federal Protective Service (FPS), the Office of Management and Budget (OMB), and the United
        States Secret Service (USSS).</p>
    </div>
  </div>
</section>